@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./components.module.scss";

body {
  background-color: $g;
  font-family: "Montserrat", sans-serif;
}

.app_wrapper {
  padding-top: 65px;
}
