@import "./../../scss/components.module.scss";

.dialogItem {
  position: relative;
  display: flex;
  align-items: center;
  color: $b;
  text-decoration: none;
  height: 70px;
  border-bottom: 1px solid $g;
  transition: all 0.3s;

  &:hover,
  .active {
    background-color: rgba(225, 229, 235, 0.46);
    cursor: pointer;
  }

  &.hasNewMessages {
    background-color: rgba(225, 229, 235, 0.46);
  }

  &.selected {
    background-color: rgba(40, 84, 115, 0.11);
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid $g;
  }

  .userName {
    color: $b;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
  }

  .postDate {
    position: absolute;
    right: 20px;
    font-size: 12px;
    color: $gt;
  }

  .selectedDialogIcon,
  .sticker {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: $y;
    }
  }
}
