@import "./../scss/components.module.scss";

.usersWrap {
  margin-top: 25px;
}

.user {
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
  margin: 15px;
  padding: 10px 0;
  border-bottom: 1px solid $gline;

  &:last-child {
    border: none;
  }

  .avatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid $gline;
      object-fit: cover;
    }
  }

  .userInfo {
    display: block;
    overflow: hidden;

    .userName {
      font-size: 14px;
      color: $yt;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .location {
      font-size: 12px;
      color: $gt;
      margin-top: 3px;
    }

    .status {
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .followWrap {
    position: relative;
    text-align: right;
  }
}

.showMoreWrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-bottom: 25px;

  a {
    width: 200px;
  }
}
