@import "./../../scss/components.module.scss";

.post_wrap {
  padding: 15px;
}

.post_head {
  display: grid;
  grid-template-columns: 11fr 1fr;

  .postInfo {
    display: flex;
    align-items: center;

    a.post_avatar {
      img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        object-fit: cover;
        margin-right: 15px;
      }
    }

    .post_owner {
      display: flex;
      flex-direction: column;
      a {
        font-size: 16px;
        color: $y;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    span.post_date {
      font-size: 12px;
      color: $gt;
    }
  }

  .delPost {
    text-align: right;

    a {
      opacity: 0;
      transition: all 0.3s;

      i {
        color: $y !important;
      }
    }

    &:hover {
      a {
        opacity: 1;
      }
    }
  }
}

.post_footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
    i {
      color: $y !important;
      transition: all 0.3s;
      margin-right: 5px;
    }

    p {
      color: $y;
      font-size: 14px;
    }

    &:hover {
      i {
        color: $yh !important;
      }
    }
  }
}

.post_body {
  p {
    margin: 15px 0;
  }
}
