@import "./../../scss/components.module.scss";

form {
  .form_group {
    margin-bottom: 10px;

    textarea {
      width: 100%;
      height: 75px;
      box-sizing: border-box;
      resize: none;
      border: 1px solid $gline;
      border-radius: 3px;
      outline: none;
      font-size: 14px;
      padding: 10px;

      &:hover,
      :focus {
        outline: none;
      }
    }
  }
}
