@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "components";
@import "_nav";
@import "_header";
@import "_profile";

body {
  background-color: $g;
  font-family: "Montserrat", sans-serif;
}

.app-wrapper {
  padding-top: 65px;
}
