@import "./../scss/components.module.scss";

.dialogsList {
  position: relative;
}

.dialogs {
  position: relative;
  display: grid;
  grid-template-columns: auto 1.5fr;
  grid-gap: 15px;
  height: 90vh;
  transition: all 0.5s;

  .dialogsList {
    width: 500px;
    height: 100%;
    overflow: scroll;
    transition: all 0.5s;
  }

  &.active {
    .dialogsList {
      width: 350px;
    }
  }

  .dialogArea {
    overflow: scroll;
    height: 93%;

    .postMessage {
      position: absolute;
      bottom: 0;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      background-color: $g;

      form {
        display: flex;
        align-items: center;

        input {
          border: 1px solid $g;
          border-radius: 5px;
          font-size: 14px;
          padding: 10px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
          margin: 0 10px;
        }

        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          transition: all 0.3s;

          i {
            color: $y;
          }

          &:hover {
            i {
              color: $yh;
            }
          }
        }
      }
    }
  }

  .selectActionWrap {
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    background-color: $g;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        text-decoration: underline;
      }

      &.cancelSelect {
        color: $y;
      }

      &.deleteSelected {
        color: $red;

        i {
          color: $red;
        }
      }
    }
  }

  .emptyDialog {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
      color: $gt;
    }

    p {
      margin-top: 15px;
      color: $gt;
    }
  }
}
